@use '../var/variable.scss' as *;

$b: null;
$e: null;
$m: null;

@mixin isAtRoot() {
  @if ($is-at-root) {
    @at-root {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin b($block) {
  $b: #{$namespace}#{$common-separator}#{$block} !global; // 局部变量

  .#{$b} {
    @content;
  }
}

@mixin e($element...) {
  $e: #{$b} !global;
  $currentSelector: '';

  @each $item in $element {
    $currentSelector: #{$currentSelector} +
      '.' +
      #{$e} +
      #{$element-separator} +
      #{$item} +
      ',';
  }

  @include isAtRoot {
    #{$currentSelector} {
      @content;
    }
  }
}

@mixin m($modify) {
  $m: #{$e}#{$modifier-separator}#{$modify};
  $currentSelector: '';

  @each $unit in $modify {
    $currentSelector: #{$currentSelector} +
      '.' +
      #{$m} +
      #{$modifier-separator} +
      #{$unit} +
      ',';
  }

  @include isAtRoot {
    #{$currentSelector} {
      @content;
    }
  }
}
